# VSPHERE SETTINGS
vsphere = {
  USER = ""
  PASSWORD = ""
  SERVER = ""
}

# DOCKER HOST AND CERTS
domain_cluster = "docker-swarm.inf.uniroma3.it"
path_certs = "resources/certs"

# VM HARDWARE SETTINGS
vm_worker = {
  SSH_USER = "root"
  SSH_KEY = "resources/ssh_keys/vsphere.pem"
  VCPU = 4
  MEMORY = 4096
  FOLDER = "docker-swarm"
  DEFAULT_GATEWAY = "192.168.161.1"
  DATACENTER = "INFORMATICA"
  DATASTORE = "storage-normal"
  TEMPLATE = "docker-swarm/TEMPLATE"
}
vm_manager = {
  SSH_USER = "root"
  SSH_KEY = "resources/ssh_keys/vsphere.pem"
  VCPU = 2
  MEMORY = 2048
  FOLDER = "docker-swarm"
  DEFAULT_GATEWAY = "192.168.161.1"
  DATACENTER = "INFORMATICA"
  DATASTORE = "storage-normal"
  TEMPLATE = "docker-swarm/TEMPLATE"
}

# VM IPV4 ADDRESS
IPV4_ADDRESS_manager = [
  "192.168.161.168",
  "192.168.161.169",
  "192.168.161.170",
]
IPV4_ADDRESS_worker = [
  "192.168.161.171",
  "192.168.161.172",
  "192.168.161.173",
]